lesson-2-4/state_machine.json
{
  "StartAt": "LookupAudioFile",
  "States": {
    "LookupAudioFile": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:843739387303:function:check-audio-cache",
      "Next": "FileIsCached"
    },
    "FileIsCached": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.isCached",
        "BooleanEquals": true,
        "Next": "ServeAudioFile"
      }],
      "Default": "DetermineVoice"
    },
    "DetermineVoice": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:843739387303:function:detect-voice",
      "Next": "ProcessAndUploadAudio"
    },
    "ProcessAndUploadAudio": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:843739387303:function:synthesize-and-upload",
      "Next": "ServeAudioFile"
    },
    "ServeAudioFile": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:843739387303:function:serve-audio-file",
      "End": true
    }
  }
}
